<%- include("../header.ejs", {title:"White Wines - " + result[0].whiteName}); %>
<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
<h1> <%= result[0].redName%> </h1>
<br />
<div style="color:crimson">
    <% if (recentChange) { %>
    Recent Change: <%=recentChange%>
    <% } %>
</div>
<br />
<ul>
    <li>Red Year: <%= result[0].redYear %></li>
    <li> Number of Bottles Available: <%= result[0].numberRedAvail %></li>
    <li> Description: <%= result[0].description %> </li>

</ul>

<a href="/redWine/all"><< back</a>

<%- include("../footer.ejs"); %>