<%- include("header.ejs", {title: title}); %>
<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: cadetblue;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<p>
    <br>
    McDowell established this website to help her team, and her members receieve wine in a timely manner. She wants her members (and non members) to see what happens
    behind the scenes. That's why she's decided to display all her orders publicly. She believes that it allows her members to become true conessiours, and
    comrades, for they all share a love for wine.

    NOTE: Customer's information is only disclosed if McDowell has permission to do so.
</p>

<br>
<br>

<h2> Valley Vineyards Inventory System </h2>
<p>  We are currently working on exporting this part of our website to the backend, but we are not quite there yet!
    If you are an employee from the warehouse, please chose from one of the options below to help with the inventory shipments;
</p>
<br>

<a href="customer/all"> View the customers in our club </a>

</body>
<br>

<a href="shippingDept/all"> View the orders we have in our system </a>

<h2> About the developers of the website </h2>
<p> The developers of DeathCat Industries are fresh college graduates. There a small team of five, but all have BS in Computer Science with a passion
    for web development.  They have worked closely with Kristine to give her the most contemporary
and easy-to-use website possible, so that she can upkeep it in her own time.Below you will find their database diagrams pre-production. </p>

<a href="/images/VineyardDiagram.png"> ER Diagram of the database </a>
<br>
<a href="/images/VineyardSchema.png"> Relational Schema of the diagram </a>
<br>
<a href="/images/FunctionalDependencyDiagram.png"> Functional Dependency Diagram </a>
<%- include("footer.ejs"); %>