<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>

    footer
    {
        color: black;
        alignment: bottom;
    }
    </style>
</head>

<body>

<footer>
    <div>
        <span>&copy; 2018 deathCat Industries and Valley Vineyards LLC.</span>
        <span>Favicons made by</span>
        <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</footer>
</body>
</html>