<!DOCTYPE html>
<html>
<head>
    <style>
        <ahref
        div.container
        {
            width: 100%;
        }

        header, footer
        {
            padding: 0em;
            color: lightskyblue;
            clear: left;
            text-align: center;
            text-shadow: black;
        }

        nav left
        {
            float: left;
            max-width: 200px;
            margin: 0;
            padding: 1em;
        }

        nav ul
        {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
        body
        {
            background-image: url("../public/images/background.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1, h2
        {
            color: ghostwhite;
        }

        p
        {
         color: mistyrose;
        }
         a:link {
             color: darkcyan;
             background-color: transparent;
             text-decoration: none;
         }

        a:visited {
            color: cadetblue;
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: lightseagreen;
            background-color: transparent;
            text-decoration: underline;
        }

        a:active {
            color: darkslategrey;
            background-color: transparent;
            text-decoration: underline;
        }
        tr:nth-of-type(1)
        {
             color: mistyrose;
         }

        li
        {
            color: aquamarine;
        }
        button, input[type="submit"], input[type="text"], form
        {
            background: transparent;
            color: whitesmoke;
        }


    </style>
</head>
<body style="margin-left:20px;">
<body>
<nav>

</nav>
<header>
    <h1>Welcome to Valley Vineyards! </h1>
</header>

</body>
</html>