<!DOCTYPE html>
<html>
<head>
    <style>
        div.container
        {
            width: 100%;
        }

        header, footer
        {
            padding: 0em;
            color: lightskyblue;
            clear: left;
            text-align: center;
            text-shadow: black;
        }

        nav left
        {
            float: left;
            max-width: 200px;
            margin: 0;
            padding: 1em;
        }

        nav ul
        {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
        body
        {
            background: url(http://cdn.pcwallart.com/images/red-wine-grapes-wallpaper-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1, h2
        {
            color: ghostwhite;
        }

        p
        {
         color: mistyrose;
        }

    </style>
</head>
<body style="margin-left:20px;">
<body>
<header>
    <h1>Welcome to Valley Vineyards! </h1>
</header>

<body>
</html>