<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">

    <style>
        body
        {
            background-image: url("../public/images/background.png");
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 70px;
        }
    </style>
</head>
<body>

<header>
    <h1>Welcome to Valley Vineyards! </h1>
</header>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand"> <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Valley Vineyards </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li> <a href="/about"> About </a> </li>
                <li> <a href="#"> Contact </a> </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/signup"> Sign Up </a> </li>
                <li> <a href="/login"> Login </a> </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>