<!DOCTYPE html>
<html>
<head>
    <style>
        div.container
        {
            width: 100%;
        }

        header, footer
        {
            padding: 0em;
            color: rebeccapurple;
            background-color: darkgray;
            clear: left;
            text-align: center;
            text-shadow: black;
        }

        nav left
        {
            float: left;
            max-width: 200px;
            margin: 0;
            padding: 1em;
        }

        nav ul
        {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 100px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>


    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body style="margin-left:20px;">
<body>
<header>
    <h1>Welcome to Valley Vineyards! </h1>
</header>

<body>
</html>