<%- include("header.ejs", {title: title}); %>
<h1><%= title %></h1>
<p> Already have an account?
<br>
   <a href = "/login" class="btn btn-default"><span class="fa fa-sign-in"> </span> Click here to sign in with Facebook!  </a>
</p>

<p> Don't have an account?
<br>
    <a href="/signup" class="btn btn-default"><span class="fa fa-sign-in"> </span> Click here to create an account using your Facebook account </a>
</p>

<a href="about"> Click here to find out more about Valley Vineyards! </a>
<br />
<br/>
<a href="whiteWine/all"> View all the White Wines we have! </a>
<br />
<br />

<a href="redWine/all"> View all the Red Wines we have! </a>

<br>
<br>
<h2> Valley Vineyards Inventory System </h2>
<p>  We are currently working on exporting this part of our website to the backend, but we are not quite there yet!
If you are an employee from the warehouse, please chose from one of the options below to help with the inventory shipments;
</p>
<br>

<a href="customer/all"> View the customers in our club </a>
<br>

<a href="shippingDept/all"> View the orders we have in our system </a>

<%- include("footer.ejs"); %>