<%- include("header.ejs", {title: title}); %>

<h1><%= title %></h1>

<a href="about.ejs"> Click here to find out more about Valley Vineyards (THIS DOES NOT WORK YET) </a>
<br />

<a href="whiteWine/all"> View all the White Wines we have! </a>
<a href="redWine/all"> View all the Red Wines we have! </a>

<br>
<br>
<p> Do not worry about this part if you are a customer. We are currently working on exporting this part of our website to the backend, but we are not quite there yet!
If you are an employee from the warehouse, please chose from one of the options below to help with the inventory shipments;
</p>
<br>

<a href="customer/all"> View the customers in our club </a>

<%- include("footer.ejs"); %>