<%- include("header.ejs", {title: title}); %>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <style>
        body
        {
            color: whitesmoke;
        }
        #wine-jumbotron
        {
            color: black;
            background: transparent;
        }

    </style>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container" id="wine-jumbotron">
        <h1 class="display-3">Browse Our Finest Wine Selections</h1>
        <a href="whiteWine/all"> White Wines </a>
        <a href="redWine/all">Red Wines</a>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<br>
<h2> Valley Vineyards Inventory System </h2>
<p>  We are currently working on exporting this part of our website to the backend, but we are not quite there yet!
    If you are an employee from the warehouse, please chose from one of the options below to help with the inventory shipments;
</p>
<br>

<a href="customer/all"> View the customers in our club </a>

</body>
<br>

<a href="shippingDept/all"> View the orders we have in our system </a>



<%- include("footer.ejs"); %>
</html>