<%- include("../header.ejs", {title:"View All White Wines - View All"}); %>

<h1>Our Finest White Wines </h1>
<p> Our white wines are imported locally from wines all across Sonoma and Napa counties. Nothing below three years is kept in stock. <br>
    Click a wine below to find out more about
    what it has to offer! </p>

<table border="1">
    <% for(var i=0; result.length > i; i++ ) { %>
    <a href="/whiteWine/?whiteBottleNumber=<%= result[i].whiteBottleNumber %>"><%= result[i].whiteName %></a> </br></td>

    <% } %>
</table>
<%- include("../footer.ejs"); %>