<%- include("../header.ejs", {title:"View All White Wines - View All"}); %>
<style>
    a:link {
        color: darkcyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: darkslategrey;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<h1>Our Finest White Wines </h1>
<p> Our white wines are imported locally from wines all across Sonoma and Napa counties. Nothing below three years is kept in stock. <br>
    Click a wine below to find out more about
    what it has to offer! </p>
<a href="/whiteWine/add"> Add a New Type of White Wine </a>
<br/>
<div style="color:crimson">
    <% if (recentChange) { %>
    Recent Change: <%=recentChange%>
    <% } %>
</div>

<br />

<table border="1">
    <tr> <th> White Wine </th> <th> Actions </th> </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td> <a href="/whiteWine/?whiteBottleNumber=<%= result[i].whiteBottleNumber %>"><%= result[i].whiteName %></a></td>
        <td> <button onclick="event.preventDefault();window.location.href='/whiteWine/edit/?whiteBottleNumber=<%= result[i].whiteBottleNumber %>'"> Edit </button>
        <form action="/whiteWine/delete/" style="display:inline;">
            <input type="hidden" name="whiteBottleNumber" id="whiteBottleNumber" value="<%= result[i].whiteBottleNumber %>" />
            <input type="submit" value="Delete"/>
        </form>

        </td>

    </tr>
    <% } %>
</table>
<%- include("../footer.ejs"); %>