<%- include("../header.ejs", {title:"Add New Customer"}); %>
<h1>Add New Order</h1>
<p> Yay! Someone has placed an order from us, and they aren't in our system. Please enter their information so that
    we can keep them up to date on the latest news, and ,of course, to ensure that we deilver their wine bottles to them
    in a timely manner. </p>
<form action="/shippingDept/insert" method="get">
    Customer Number:<select id="whiteBottleNumber" name="whiteBottleNumber" multiple="multiple"></select>
    <br />
    <br />
    <script type="text/javascript">
        $(document).ready(function() {
            $('#customerNumber').multiselect();
        });
    </script>

    Shipping Date (in the form 00-00-00 00:00): <input id="shippingDate" name="shippingDate" type="timestamp" />
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../footer.ejs"); %>